#nav-background {
	background-color: #e3f2fd;
}

#nav-brand {
	font-family: sans-serif;
	font-size: 25px;
	color: #303231;
}

.navbar-nav > a {
	font-size: 18px;
}

#body {
	margin: 10px;
}

.asteriskField {
    display: none;
}

.title {
	text-align: center;
	font-size: 35px;
}

#image-preview {
	width: 350px;
	height: 300px;
}

.col-md-6 > h5 {
	margin-top: 10px
}

.liked {
	cursor: pointer;
	margin-top: 5px;
	margin-left: 1px;
	margin-bottom: 10px;
}

.comment-icon {
	cursor: pointer;
	margin-top: 5px;
	margin-left: 10px;
	margin-bottom: 10px;
}

.gray {
	color: gray;
}

.view-all {
	cursor: pointer;
	color: dodgerblue;
}

.show {
	cursor: pointer;
}